main {
  min-height: 80vh;
}
.headerNav {
  margin-left: auto;
}
.rating span {
  margin: 0.1rem;
}
h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 2.5rem;
  padding: 0.3rem;
}

h2 {
  font-size: 1.5;
  padding: 0.5rem;
}

.carousel img {
  height: 400px;
  clip-path: circle(80% at 15% 50%);
}

.img2 {
  position: absolute;
  right: 0px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  right: 0px;
}

.carousel a {
  margin: 0 auto;
}
.che {
  color: white;
  margin-bottom: 150px;
}

.ch {
  color: white;
  text-align: center;
}

.homeLogo {
  height: 50px;
}

.pb :focus {
  background-color: black;
}

ul.pagination {
  justify-content: center;
}

.logo {
  
   position: absolute;
   left:320px;
   bottom: 0px;
}
